# ────────────── Dependências ──────────────
/node_modules/

# ────────────── Build / Output ──────────────
/.next/
/out/
/build/

# ────────────── Logs & Debug ──────────────
*.log
*.tsbuildinfo
.pnpm-debug.log*

# ────────────── Ambiente (Env Vars) ──────────────
.env

# ────────────── Sistema / Editor ──────────────
.DS_Store
*.pem

# ────────────── Vercel / Hosting ──────────────
.vercel/

# ────────────── Next.js internals ──────────────
next-env.d.ts
