# Build & deps
node_modules
.next
out
build
dist
.vercel
.bun
bun.lockb

# Test coverage
coverage

# Logfiles
*.log

# Caches
.cache/
*.cache
.vscode/
*.tsbuildinfo

# Artifacts
*.min.js
*.min.css
*.map
*.d.ts

# Assets
public/**/*.{png,jpg,jpeg,gif,svg,ico,webp,avif}
*.pdf
*.zip

# Environment
.env*
*.swp
.DS_Store
Thumbs.db
